@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto' , 'sans-serif';
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.text--purple {
    color: rgb(204, 89, 233)
}

img {
    width: 100%;
    height: 100%;
    max-height: 50vh;
}

p {
    line-height: 1.5;
    color: rgb(84, 84, 84)
}

h1 {
    font-size: 56px;
    color: rgb(204, 89, 233);
    margin-bottom: 24px;
    text-align: center;
}

h2 {
    font-size: 32px;
    color: rgb(84, 84, 84);
    text-align: center;
}


button {
    cursor: pointer;
}


button:hover {
 transform: translateY(2px);
   transition: all 600ms ease;
}

.container {
    padding: 56px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* 

NAV 

*/

nav {
    height: 120px;
    display: flex;

}

.nav__container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 24px 24px;

}

.nav__logo--wrapper {
    width: 160px;
    
}

ul {
    display: flex;

}

li {
    list-style-type: none;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px; 
    color: rgb(84, 84, 84);
    font-weight: bold;
    padding: 8px;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    border: 2px solid rgb(84, 84, 84);
    border-radius: 4px;
}

.nav__link--primary:hover {
    text-decoration: none;
}

/* 

HEADER

*/

#landing {
    background-color: #e2a9f11a;
}

header {
    height: calc(100vh - 120px);
}

.header__container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn {
    background-color: rgb(204, 89, 233, .7);
    color: rgb(84, 84, 84);
    padding: 12px 24px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
    border: none;
}

.header__img {
    padding: 24px;

}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__img--wrapper {
    padding: 24px;
    z-index: 2;
}

.header__sub-title {
    margin-bottom: 32px;
}
/* 

HIGHLIGHTS

*/

#highlights {
  position: relative;
  max-width: 100vw;
}

#highlights:before,
#highlights:after {
    background: url('Gaming Library Assets/wave.svg');
    position: absolute;
    content: "";
    width: 101vw;
    height: 12vw;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
}

#highlights:before {
    top: 1px;
    transform: translateY(-100% )
}

#highlights:after {
    bottom: 1px;
    transform: translateY(100%) rotate(180deg);
}
.highlight__wrapper {
    display: flex;
    padding: 24px 0;
}

.highlight {
    padding: 0 24px;
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.highlight__para {
    text-align: center;
    max-width: 255px;
}

.highlight__img {
    border: 2px solid rgb(84, 84, 84, 0.3);
    color: rgb(204, 89, 233);
    width: 100px;
    height: 100px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    margin-bottom: 24px;
}

.highlight__subtitle {
    font-size: 20px;
    margin-bottom: 16px;
    color: rgb(204, 89, 233)
}

/* 

FEATURES 

*/

#features {
    padding-top: 8vw;
    background-color: #e2a9f11a;
}

.games {
    display: flex;
}

.game {
    width: 25%;
    padding: 24px;
}
.game__img {
    max-height: 380px;
    transition: all 300ms ease;
    cursor: not-allowed;
}

.game__img--wrapper {
    margin-bottom:  8px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
}


.game:hover .game__img {
    transform: scale(1.03);
}

.game__title {
    font-size: 20px;
    margin-bottom: 8px;

}

.game__title:hover {
    text-decoration: underline;
    cursor: no-drop;
}

.game__ratings {
    margin-bottom: 8px;
    color: #fabf2a;
}

.game__price--normal {
    text-decoration: line-through;
    padding-right: 6px;
    color: rgb(84, 84, 84)
}