@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto' , 'sans-serif';
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.text--purple {
    color: rgb(204, 89, 233)
}

img {
    width: 100%;
    height: 100%;
    max-height: 50vh;
}

p {
    line-height: 1.5;
    color: rgb(84, 84, 84)
}

h1 {
    font-size: 56px;
    color: rgb(204, 89, 233);
    margin-bottom: 24px;
    text-align: center;
}

h2 {
    font-size: 32px;
    color: rgb(84, 84, 84);
    text-align: center;
}


button {
    cursor: pointer;
}


.btn:hover {
 transform: translateY(2px);
   transition: all 600ms ease;
}

.container {
    padding: 56px 0;
    width: 100%;
}

.row {
    max-width: 1200px;
    margin: 0 auto;
}

.row__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.section__title {
    padding-bottom: 24px;
}

.no-cursor {
    cursor: not-allowed;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* 

NAV 

*/

nav {
    height: 120px;
    display: flex;

}

.nav__container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 24px 24px;

}

.nav__logo--wrapper {
    width: 160px;
    
}

ul {
    display: flex;

}

li {
    list-style-type: none;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px; 
    color: rgb(84, 84, 84);
    font-weight: bold;
    padding: 8px;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    border: 2px solid rgb(84, 84, 84);
    border-radius: 4px;
}

.nav__link--primary:hover {
    text-decoration: none;
}

.btn__menu {
    background-color: transparent;
    border: none;
    font-size: 40px;
    text-align: center;
    color: rgb(204, 89, 233);
    display: none;

}

.menu__backdrop {
    position: absolute;
    background-color: rgb(84, 84, 84);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    visibility: hidden;
    opacity: 0;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: white;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    padding: 32px 0;
}

.menu__link {
    font-size: 40px;
    color: white;

}




/* 

LANDING

*/

#landing {
    background-color: #e2a9f11a;
}

header {
    height: calc(100vh - 120px);
}

.header__container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn {
    background-color: rgb(204, 89, 233, .7);
    color: rgb(84, 84, 84);
    padding: 12px 24px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
    border: none;
}

.header__img {
    padding: 24px;

}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__img--wrapper {
    padding: 24px;
    z-index: 2;
}

.header__sub-title {
    margin-bottom: 32px;
}

/* 

HIGHLIGHTS

*/

#highlights {
  position: relative;
  max-width: 100vw;
}

#highlights:before,
#highlights:after {
    background: url('Gaming Library Assets/wave.svg');
    position: absolute;
    content: "";
    width: 101vw;
    height: 12vw;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
}

#highlights:before {
    top: 1px;
    transform: translateY(-100% )
}

#highlights:after {
    bottom: 1px;
    transform: translateY(100%) rotate(180deg);
}
.highlight__wrapper {
    display: flex;
    padding: 24px 0;
    flex-wrap: wrap;
}

.highlight {
    padding: 0 24px;
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.highlight__para {
    text-align: center;
    max-width: 255px;
}

.highlight__img {
    border: 2px solid rgb(84, 84, 84, 0.3);
    color: rgb(204, 89, 233);
    width: 100px;
    height: 100px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    margin-bottom: 24px;
}

.highlight__subtitle {
    font-size: 20px;
    margin-bottom: 16px;
    color: rgb(204, 89, 233);
    text-align: center;

}

/* 

FEATURES 

*/

#features {
    padding-top: 8vw;
    background-color: #e2a9f11a;
}

.games {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.game {
 width: calc(100% / 4);
padding: 24px;
}
.game__img {
    height: auto;
    max-height: 380px;
    transition: all 300ms ease;
    cursor: not-allowed;
}

.game__img--wrapper {
    margin-bottom:  8px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
}


.game:hover .game__img {
    transform: scale(1.03);
}

.game__title {
    font-size: 20px;
    margin-bottom: 8px;

}

.game__title:hover {
    text-decoration: underline;
    cursor: no-drop;
}

.game__ratings {
    margin-bottom: 8px;
    color: #fabf2a;
}

.game__price--normal {
    text-decoration: line-through;
    padding-right: 6px;
    color: rgb(84, 84, 84);
}


/*

EXPLORE MORE BOOKS 

*/

#explore-more {
    background-color: rgb(204, 89, 233, .3);
}


/* 

FOOTER

*/

footer {
    background-color: rgb(43, 41, 41);
}

.footer__logo {
    display: flex;
}

.footer__logo--img {
    width: 160px;
}
.footer__list {
    margin: 20px 0 24px 0;

}

.footer__link {
    padding: 0 8px;
    color: white;
    font-weight: bold;
}

.footer__copyright {
    color: white;
    text-align: center;
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width:768px) {
    .header__description {
        padding: 0 24px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 26px;
    }

    button {
        font-size: 18px;
    }

    .game {
        width: 50%
    }

    
} 


/* SMALL PHONES, LARGE SMARTPHONES */

@media (max-width: 550px) {
    .nav__links {
        display: none;
    
    }

    .btn__menu {
        display: block;
    }

    .highlight {
        width: 100%;   
    }

    .highlight:not(:last-child) {
        margin-bottom: 24px;

    }


}